.MainText{
    color: white;
    font-size: 20vw;
    text-align-last: center;
    margin-top: 26vh;
    margin-bottom: 26vh;
}
.nav-links{
    animation: navigation 500ms 1;
}
@keyframes navigation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}